[user]
  name = Giacomo Tagliabue
  email = giacomo.tag@gmail.com
[credential]
[push]
  default = simple
[core]
  editor = C:/Users/giaco_000/st3/sublime_text.exe
  # @see https://help.github.com/articles/dealing-with-line-endings
  # Mac
  # autocrlf = input
  # PC
  autocrlf = true
[alias]
  # courtesy of Phil Haack: http://haacked.com/archive/2014/07/28/github-flow-aliases/
  co = checkout
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  cob = checkout -b
  cm = !git add -A && git commit -m
  undo = reset HEAD~1 --mixed
  amend = commit -a --amend
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
